@model IEnumerable<BookStore.Models.Domain.Author>
<h2 class="fst-italic fw-bold text-center mt-2">List Of Author</h2>

<a href="/Author/Add" class="btn btn-dark">Add More</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Author Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AuthorName</td>
                <td>
                    <a class="btn btn-outline-success" href="/Author/Update?id=@item.Id"><i class="bg-info bi-pen"></i></a>
                    <a class="btn btn-outline-danger" onclick="return window.confirm('Are you sure?')" href="/Author/Delete?id=@item.Id"><i class="bg-info bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
